@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

.head {
  background: url('../images/head.png') no-repeat center;
      display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
  position: relative;
  background-size: cover;
  padding: 100px 0;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  transition: 0.2s;
  &.fixed {
    background: #fff;
    padding: 20px 0;
    position: fixed;
    z-index: 999;
    transition: 0.2s;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
  }
  .nav-top {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      a {
        color: #191919;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        transition: 0.2s;
        &:hover {
          color: #000;
        }
        &.nav-btn {
          color: #191919;
          font-family: "Bodoni 72 C";
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          border-radius: 20px;
          border: 3px solid #ff87c4;
          padding: 10px 30px;
          &:hover {
            background: #ff87c4;
          }
        }
      }
    }
  }
}

.head-title {
  color: #191919;
  font-family: "Bodoni 72 C";
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 72px;
  margin: 0 0 45px;
}

.head-info {
  color: #191919;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-weight: 400;
  max-width: 585px;
  margin-bottom: 0;
  b {
      font-weight: 700;
  }
}



.head-start {
  color: #191919;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 25px;
  border: 3px solid #ff97da;
  display: inline-block;
}
* {
line-height: 1.2;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.order-btn {
  color: #ffffff;
  font-family: "Bodoni 72 C";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 43px 14px;
  display: inline-block;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  background-color: #ff87c4;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  &.none {
    background: #ccc;
    box-shadow: none;
    cursor: none;
    &:hover {
      transform: none;
      &:after, &:before {
        display: none;
      }
    }
  } 
  &:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0);
    transform: translateY(10%);
    color: #ffffff;
      &:after {
        content: "";
        width: 83px;
        height: 83px;
        position: absolute;
        top: 50%;
        margin-top: -41.5px;
        right:  -30.5px;
        border-radius: 42px;
        background-color: #ff97da;
        opacity: 0.15;
        -webkit-animation: pulsejg1 1.5s linear infinite;
        -moz-animation: pulsejg1 1.5s linear infinite;
        animation: pulsejg1 1.5s linear infinite;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        -webkit-box-shadow: inset 0px 0px 15px 10px #ff97da;
        -moz-box-shadow: inset 0px 0px 15px 10px #ff97da;
        box-shadow: inset 0px 0px 15px 10px #ff97da;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      &:before {
        content: "";
        width: 128px;
        height: 128px;
        border-radius: 64px;
        background-color: #ff97da;
        opacity: 0.15;
        position: absolute;
        top: 50%;
        margin-top: -64px;
        right: -54px;
         -webkit-animation: pulsejg2 1.5s linear infinite;
        -moz-animation: pulsejg2 1.5s linear infinite;
        animation: pulsejg2 1.5s linear infinite;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        -webkit-box-shadow: inset 0px 0px 12px 5px #ff97da;
        -moz-box-shadow: inset 0px 0px 12px 5px #ff97da;
        box-shadow: inset 0px 0px 12px 5px #ff97da;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
  }
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -webkit-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -webkit-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -webkit-transform: scale(1.4);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -moz-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -moz-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -moz-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -moz-transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: .1;
    }

    70% {
        transform: scale(1.1);
        opacity: .25;
    }

    80% {
        transform: scale(1.25);
        opacity: .1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: .1;
    }

    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -webkit-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -moz-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -moz-transform: scale(1);
        opacity: .1;
    }

    60% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -moz-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: .05;
    }

    50% {
        transform: scale(1);
        opacity: .1;
    }

    60% {
        transform: scale(1.1);
        opacity: .3;
    }

    80% {
        transform: scale(1.2);
        opacity: .1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.problem-svg {
  padding: 22px;
  background-color: rgba(171, 140, 244, 0.15);
  border-radius: 50%;
  display: inline-block;
  width: 83px;
  height: 83px;
  svg {
    width: 40px;
  }
}

.problem {
  padding: 96px 0;
  .col-lg-4 {
    &:nth-child(1), &:nth-child(3), &:nth-child(5) {
      .problem-svg {
        background-color: rgba(255, 151, 218, 0.15);
      }
    }
  }
}

.title {
  color: #191919;
  font-family: "Bodoni 72 C";
  font-size: 48px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  span {
    color: #ff97da;
    display: inline-block;
  }
}

.problem-info {
  color: #191919;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 120px;
}

.problem-item {
  margin-bottom: 54px;
  p {
    margin-bottom: 0;
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
  }
}

.bottom-info {
  max-width: 905px;
  border-radius: 25px;
  border: 3px solid #ff97da;
  margin: 58px auto 0;
  color: #191919;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-weight: 700;
  padding: 22px 61px;
  span {
    display: block;
    text-align: right;
  }
}

.competitors {
  background: url('../images/dsf54.png') no-repeat center;
  padding: 52px 0 37px;
}

.competitors-img {
  img {
    max-width: 100%;
  }
}

.competitors-svg {
  svg {
    width: 70px;
    fill: #ff97da;
  }
}

.competitors-item {
  p {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    max-width: 265px;
  }
  margin-bottom: 51px;
}

.question {
  background-image: linear-gradient(to top, #ffffff 0%, #eae2ec 50%, #ffffff 100%);
  padding: 124px 0;
}

.question-title {
  text-align: center;
  margin-bottom: 90px;
}

.question-item {
  text-align: center;
  .question-svg {
    svg {
      width: 80px;
      fill: #ff97da;
    }
    margin-bottom: 36px;
  }
  p {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  .col-lg-4 {
    &:nth-child(1){
      .question-success {
        position: relative;
        z-index: 1;
        &:after {
          content: "";
          background: url('../images/1.png') no-repeat center;
         width: 309px;
          height: 135px;
          position: absolute;
          top: -22px;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }
        
      }
    }
    &:nth-child(2){
      .question-success {
        position: relative;
        z-index: 1;
        &:after {
          content: "";
          background: url('../images/2.png') no-repeat center;
         width: 309px;
          height: 135px;
          position: absolute;
          top: -22px;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }
        
      }
    }
    &:nth-child(3){
      .question-success {
        position: relative;
        z-index: 1;
        &:after {
          content: "";
          background: url('../images/3.png') no-repeat center;
         width: 309px;
          height: 135px;
          position: absolute;
          top: -22px;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }
        
      }
    }
  }
}

.question-success {
  display: inline-block;
  color: #ff97da;
font-family: "Bodoni 72 C";
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
}

.brand-img {
  img {
    float: left;
  }
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.brand {
  position: relative;
  &:before {
    content: "";
    height: 190px;
    background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 60;
  }
}

.brand-item {
  p {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 45px;
  }
  margin-bottom: 45px;
}

.personal_brand {
  padding-top: 96px;
}

.personal_brand-title {
  text-align: center;
  margin-bottom: 65px;
}

.personal_brand-item {
  
  .col-lg-3 {
    &:nth-child(1) {
      .personal_brand-svg {
        svg {
          width: 80px;
        }
      }
    }
    &:nth-child(2) {
      .personal_brand-svg {
        margin-top: 36px;
        svg {
          width: 73px;
        }
      }
    }
    &:nth-child(3) {
      .personal_brand-svg {
                text-align: left;
        margin-top: 106px;

        svg {
          width: 90px;
              right: 13px;
          transform: translateY(-80%);
        }
      }
    }
    &:nth-child(4) {
      .personal_brand-svg {
        margin-top: 195px;
        text-align: left;
        svg {
          width: 99px;
          
        }
      }
    }
  }
  
  .personal_brand-svg {
    margin: 0 auto ;
    text-align: center;
    position: relative;
    max-width: 166px;
    svg {
      fill: #ff97da;
      position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
    }
    h3 {
      color: #ffe3f4;
      font-family: "Bodoni 72 C";
      font-size: 177px;
      font-weight: 700;
      margin: 0;
      line-height: 1;
    }
  }
  p {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    b {
      font-weight: 700;
    }
  }
}

.million {
  position: relative;
  &:before {
    content: "";
    background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    height: 190px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
}

.million-img {
  img {
    float: right;
    margin-right: -150px;
  }
}

.million-item {
  p {
      color: #191919;
      font-family: "Proxima Nova";
      font-size: 21px;
      font-weight: 400;
      margin-bottom: 45px;
    b {
      font-weight: 700;
    }
  }
  h2 {
    color: #191919;
    font-family: "Bodoni 72 C";
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 2.5px;
    line-height: 72px;
    margin-bottom: 70px;
    margin-top: 0;
  }
}

.how {
  padding: 155px 0;
  
}

.how-title {
  text-align: center;
  margin-bottom: 110px;
}

.how-item {
  text-align: center;
  .how-svg {
    height: 83px;
    width: 83px;
    margin: 0 auto;
    border: 3px solid #ff97da;
    border-radius: 50%;
        display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 90px;
    svg {
      width: 40px;
    }
  }
  h5 {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 0;
  }
  p {
    max-width: 240px;
    margin:  0 auto;
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
  }
}

.myPulse {
  position: relative;
   &:after {
        content: "";
        width: 129px;
        height: 129px;
        position: absolute;
        top: 50%;
        margin-top: -64.5px;
        margin-left: -64.5px;
        left:  50%;
        border-radius: 50%;
        background-color: #ff97da;
        opacity: 0.15;
        -webkit-animation: pulsejg1 1.5s linear infinite;
        -moz-animation: pulsejg1 1.5s linear infinite;
        animation: pulsejg1 1.5s linear infinite;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        -webkit-box-shadow: inset 0px 0px 15px 10px #ff97da;
        -moz-box-shadow: inset 0px 0px 15px 10px #ff97da;
        box-shadow: inset 0px 0px 15px 10px #ff97da;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      &:before {
        content: "";
        width: 197px;
        height: 197px;
        border-radius: 50%;
        background-color: #ff97da;
        opacity: 0.15;
        position: absolute;
        top: 50%;
        margin-top: -98.5px;
        margin-left: -98.5px;
        left: 50%;
         -webkit-animation: pulsejg2 1.5s linear infinite;
        -moz-animation: pulsejg2 1.5s linear infinite;
        animation: pulsejg2 1.5s linear infinite;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        -webkit-box-shadow: inset 0px 0px 12px 5px #ff97da;
        -moz-box-shadow: inset 0px 0px 12px 5px #ff97da;
        box-shadow: inset 0px 0px 12px 5px #ff97da;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
}

.line {
    border: 3px solid #ff97da;
    border-left: 0;
    border-right: 0;
    background-color: #fff;
    width: 100%;
    max-width: 317px;
    height: 10px;
    position: absolute;
    top: 36px;
    left: 235px;
    z-index: 99;
}

.programs {
  background-image: linear-gradient(to top, #ffffff 0%, #eae2ec 50%, #ffffff 100%);
  padding: 45px 0;
}

.programs-title {
  text-align: center;
  margin-bottom: 70px;
}

.programs-item {
  margin-bottom: 66px;
  .top {
    background-color: #ffffff;
    border-radius: 8px;
    min-height: 78px;
    padding-left: 18px;
    cursor: pointer;
    position: relative;
    text-align: left;
    padding-top: 25px;
    margin-bottom: 27px;
    &.active {
      .eye {
        svg {
          background-color: #ffffff;
          fill: #ff87c4;
        }
      }
    }
    h4 {
     color: #ff4ec1;
    font-family: "Bodoni 72 C";
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
      display: inline-block;
      margin: 0;
      margin-right: 24px;
      vertical-align: middle;
    }
    p {
      color: #191919;
      font-family: "Proxima Nova";
      font-size: 21px;
      font-weight: 700;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
    .eye {
      float: right;
      width: 76px;
      height: 100%;
      border-radius: 0 8px 8px 0;
      background-image: linear-gradient(to top, #ede8ee 0%, #ffffff 100%);
      padding: 19px 17px 19px 19px;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.2s;
      svg {
        transition: 0.2s;
        width: 40px;
        height: 40px;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        background-color: #ff87c4;
        padding: 14px 9px 13px 9px;
        fill: #fff;
      }
    }
  }
  .more {
    display: block;
    p {
      padding-left: 20px;
      color: #191919;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        color: #191919;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        padding-left: 51px;
        position: relative;
        &:before {
          content: "";
          background: url('../images/61343.svg') no-repeat;
          width: 20px;
          height: 18px;
          background-size: 100%;
          position: absolute;
          left: 12px;
          top: 0;
          fill: #ff97da;
        }
      }
    }
  }

}

.btn-box {
  text-align: center;
  margin-top: 14px;
}

.course_info-img {
  img {
    float: left;
    margin-left: -180px;
  }
}

  .course_info-list {
    list-style: none;
      padding: 0;
      margin: 0;
      li {
        color: #191919;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        padding-left: 51px;
        position: relative;
        &:before {
          content: "";
          background: url('../images/61343.svg') no-repeat;
          width: 20px;
          height: 18px;
          background-size: 100%;
          position: absolute;
          left: 12px;
          top: 0;
          fill: #ff97da;
        }
      }
  }

.info {
  background-image: linear-gradient(to top, #ffffff 0%, #eae2ec 50%, #ffffff 100%);
  padding: 53px 0;
}

.info-title {
  margin-bottom: 70px;
}

.info-item {
  text-align: center;
  .box {
    display: inline-block;
    vertical-align: top;
    max-width: 283px;
    padding: 19px 13px;
    min-height: 412px;
    margin-bottom: 60px;
    &:nth-child(even) {
      border-radius: 8px;
    background-color: #ffffff;
    }
    h4 {
      margin: 0 0 50px;
      min-height: 44px;
      color: #191919;
      font-family: "Proxima Nova";
      font-size: 21px;
      font-weight: 700;
      padding-left: 18px;
      text-align: left;
    }
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      text-align: left;
      li {
        color: #191919;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
        padding-left: 18px;
        position: relative;
        &:before {
          content: "";
          background: url(../images/61343.svg) no-repeat;
          width: 12px;
          height: 12px;
          background-size: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}

.after_course-title {
  margin-bottom: 60px;
}

.after_course-item {
  margin-bottom: 59px;
  &:last-child {
    margin-bottom: 0;
  }
  .after_course-svg {
    background-color: rgba(171,140,244,.15);
    border-radius: 50%;
        display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 83px;
    height: 83px;
    svg {
      height: 40px;
    }
  }
  p {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .newColor {
        background-color: rgba(255,151,218,.15);
  }
}

.speaker-photo {
  img {
    float: right;
  }
}

.speaker {
  background-image: linear-gradient(to top, #ffffff 0%, #eae2ec 50%, #ffffff 100%);
}

.speaker-title {
  margin-bottom: 50px;
}

.speaker-name {
  h6 {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
  }
  p {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
  margin-bottom: 40px;
}

.speaker-list {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  li {
    padding-left: 29px;
    position: relative;
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    &:before {
      content: "";
      background: url(../images/61343.svg) no-repeat;
      width: 20px;
      height: 18px;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.reviews {
  padding: 80px 0;
  background-color: #ffffff;
}

.reviews-title {
  margin-bottom: 80px;
  padding-left: 27px;
}

.reviews-img {
  img {
    max-width: 100%;
    margin-bottom: 16px;
    display: inline-block;
  }
}

.plans {
  background-image: linear-gradient(to top, #ffffff 0%, #ddd5df 50%, #ffffff 100%);
  padding: 60px 0 0;
}

.plans-title {
  margin-bottom: 60px;
  text-align: center;
}

.plans-item {
  text-align: center;
  .box {
    max-width: 360px;
    display: inline-block;
    vertical-align: middle;
    &:nth-child(2) {
      margin: 0 25px;
      .bottom {
        min-height: 500px;
        padding-top: 74px;
      }
    }
    .top {
      border-radius: 8px 8px 0 0;
      background-image: linear-gradient(to top, #ede8ee 0%, #ffffff 100%);
      margin: 0 10px;
      padding: 42px 0;
      color: #191919;
      font-family: "Bodoni 72 C";
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    .bottom {
      box-shadow: 0 24px 25px rgba(0, 0, 0, 0.07);
      border-radius: 0 0 8px 8px;
      background-color: #ffffff;
      padding: 50px 48px;
    }
  }
}

.plans-list {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    &:before {
      content: "";
      background: url(../images/61343.svg) no-repeat;
      width: 12px;
      height: 12px;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.guarantees {
  padding-bottom: 46px;
}

.guarantees-item {
  max-width: 555px;
  margin-bottom: 60px;
  p {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
  }
}

footer {
  &.head {
      position: relative;
      padding-top: 173px;
      padding-bottom: 39px;
      display: block;
      &:before {
        content: "";
        height: 190px;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 55;
      }
  }
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 79px;
  text-align: right;
  li {
    display: inline-block;
    margin: 0 10px;
    a {
      color: #191919;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.thx-item {
  h1 {
      color: #191919;
  font-family: "Bodoni 72 C";
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 30px;
  }
  p {
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 21px;
    font-weight: 400;
  }
}

.thx {
  max-height: 100vh;
  overflow: hidden;
}

.modal {
  display: none;
  padding: 44px 46px;
  max-width: 360px;
  width: 100%;
  min-height: 372px;
  background-color: #ffffff;
  &.large {
    max-width: 668px;
  }
}

.form {
    text-align: center;
  h4 {
    color: #000000;
    font-family: "Bodoni 72 C";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  input {
    border-radius: 25px;
    border: 3px solid #ff97da;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
    padding: 15px 0;
    color: #191919;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }
  button {
    border: 0;
    margin-top: 13px;
    width: 100%;
    &:after, &:before {
      display: none;
    }
  }
}

.mob-btn {
  display: none;
}

.mob {
  display: none;
}

.table {
  margin: 0 auto;
  .order-btn {
    font-size: 14px;
  }
  .old {
    td {
      text-decoration: line-through;
       color: #ccc;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      &:first-child {
        text-decoration: none;
      }
    }
  }
  .new {
    td {
          color: #ff97da;
         font-family: "Bodoni 72 C";
      font-size: 20px;
      font-weight: 700;

    }
  }
  th {
    color: #000;
    font-family: "Bodoni 72 C";
    font-size: 36px;
    font-weight: 700;
    padding: 15px;
    text-align: center; 

  }
  td {
    padding: 10px;
    img {
      width: 20px;
      display: inline-block;
    }
    &:first-child {
      text-align: left;
      color: #191919;
      font-family: "Proxima Nova";
      font-size: 21px;
      font-weight: 700;
    }
  }
  tr {
    &:nth-child(even) {
      td {
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
        background: #fefefe;
        
      }
    }
  }
}

.plans_info {
  text-align: left;
    font-family: "Bodoni 72 C";
    font-size: 14px;
    font-weight: 700;
  margin:  0 auto;
}

.mobile {
  display: none;
}
